# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
ENV/

# Logs and databases
*.log
*.sqlite
*.db
*.sqlitedb

# Local development configuration
instance/
/flask_session/*
flask_session/
# Web assets
static/uploads/

# Environment variables
.env
.env.*

# IDE specific files
.vscode/
.idea/

# Compiled Python files
*.pyc

# Mac OS files
.DS_Store

# Windows Thumbs.db file
Thumbs.db

# Node.js specific files
node_modules/

# Editor-specific files
*.swp
*.swo
*.sublime-workspace

# Temporary files
*.tmp
*.temp
*.bak

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Compiled Python files
*.pyc
__pycache__/

# folders with data
static/qr_codes/*